@import './base.css';
@import url('https://fonts.googleapis.com/css2?family=Autour+One&display=swap');

#app {
  max-width: 480px;
  margin: 0 auto;
  padding: 2rem 0.5rem;
  font-weight: normal;
  display: grid;
  place-items: center;
}

img {
  max-width: 100%;
}

p, ul, h1, h2, h3 {
  margin-bottom: 1rem;
}
h1, h2, h3 {
  color: var(--c-t-dark-headline)
}
h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.2em;
}
h3, .enlarged {
  font-size: 1.1em;
}
a {
  text-decoration: none;
  color: var(--c-primary);
  transition: 0.4s;
}

@media (hover: hover) {
  .text-link:hover {
    background-color: var(--c-accent);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }
}
@media (max-width: 400px) {
  body {
    font-size: 16px;
  }
  p, ul, h2, h3 {
    margin-bottom: 0.7rem;
  }
}

.position--bottom-right {
  position: absolute;
  bottom: var(--s-medium);
  right: var(--s-medium)
}

.position--bottom-left {
  position: absolute;
  bottom: var(--s-medium);
  left: var(--s-medium)
}
.text-block {
  padding: 0.5rem;
}
.delimiter {
  background: var(--c-black-mute);
  margin: 0.7rem;
  height: 2px;
}

ul {
  padding-left: 1.5rem
}

