@import './base.css';
@import url('https://fonts.googleapis.com/css2?family=Autour+One&display=swap');

#app {
  max-width: 432px;
  margin: 0 auto;
  padding: var(--s-xlarge) var(--s-small);
  font-weight: normal;
  display: grid;
  place-items: center;
}

img {
  max-width: 100%;
}

p, ul, h1, h2, h3 {
  margin-bottom: var(--s-medium);
}
h1, h2, h3 {
  color: var(--c-text-headline);
  font-weight: bold;
}
h1 {
  font-size: var(--f-headline);
}
h2 {
  font-size: var(--f-big);;
}
h3, .enlarged {
  font-size: var(--f-enlarged);
}
a {
  text-decoration: none;
  color: var(--c-text-highlight);
  transition: 0.4s;
}

@media (hover: hover) {
  .text-link:hover {
    background-color: var(--c-accent);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }
}
@media (max-width: 400px) {
  body {
    font-size: var(--f-mobile);
  }
  p, ul, h2, h3 {
   margin-bottom: var(--s-small);
  }
}

.position--bottom-right {
  position: absolute;
  bottom: var(--s-xsmall);
  right: var(--s-xsmall)
}

.position--bottom-left {
  position: absolute;
  bottom: var(--s-xsmall);
  left: var(--s-xsmall)
}
.text-block {
  padding: var(--s-xsmall);
}
.delimiter {
  background: var(--c-black-mute);
  margin: var(--s-small);
  height: 2px;
}

ul {
  padding-left: var(--s-large)
}

